---
import Title from "@components/shared/Title.astro";
import MainLayout from "@layouts/MainLayout.astro";


---

<MainLayout title="Favoritos">
    <Title>Favoritos</Title>
    <section class="mt-10 mx-10 flex flex-col justify-center items-center">
        <div>
            <button 
                class="btn text-blue-500" 
                onclick="history.back()">
                Volver
            </button>
            <h1 class="text-5xl capitalizer">Favoritos</h1>
        </div>
    </section>